 *{
    color: lightblue;
          }

p {
    font-family: cursive; color: black;
}

#sec_lan {
    background-color: #59320F;
}

#sec_lan h1 {
    font-size: 60px;
    text-align: center;
}

#sec_lan h2 {
    text-align: center;
}

#sec_lan h3 {
    text-align: center;
}

#banner {
    background-image: url("jesus.jpg");
    background-size: cover;
    background position: bottom-center;
    height: 700px;
    width: 100%;
}

#banner .content h1 {
    border: 3px solid lightblue;
    position: relative;
    top: 20px;
    width: 400px;
    margin-bottom: auto;
    text-align: center;
}

h1 {
    font-size: 90px;
}

#nav_contact {
    text-align: right;
}

#sec_abo h1 {
    text-align: left;
    background-color: #59320F;
}

#sec_lessons h1,h3 {
    text-align: left;
    background-color: #59320F;
}

#sec_ann h1 {
    text-align: left;
    background-color: #59320F;
}

#sec_make-up h1 {
    text-align: left;
    background-color: #59320F;
}